//
// Carousel
// --------------------------------------------------
// Based on https://github.com/twitter/bootstrap/blob/3.0.0-wip/less/carousel.less

@import 'compass/css3';


// Wrapper for the slide container and indicators
.carousel {
    position: relative;
}

// Wrap all slides, but only show the active one
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

// Immediate parent of all slides
.carousel-inner {

    > .item {
        display: none;
        position: relative;
        @include transition(.6s ease-in-out left);

        // Account for jankitude on images
        > img,
        > a > img {
            display: block;
            line-height: 1;
            width: 100%;
            height: 100%;
        }
    }

    > .active,
    > .next,
    > .prev { display: block; }

    > .active {
        left: 0;
    }

    > .next,
    > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    > .next {
        left: 100%;
    }
    > .prev {
        left: -100%;
    }
    > .next.left,
    > .prev.right {
        left: 0;
    }

    > .active.left {
        left: -100%;
    }
    > .active.right {
        left: 100%;
    }

}

