@import 'normalize';
@import 'carousel';
@import 'susy';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3';
@import 'compass/typography/text/replacement';

$total-columns: 2;
$column-width: 215px;
$gutter-width: 20px;
$grid-padding: 20px;
$breakpoint: 4;
$wide-mobile-break: 2;
$ipad-break: 3;

$red: #d31f29;
$red-darker: darken($red, 15%);
$beige: #f4e8b6;

@include border-box-sizing;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html body {
    background: $red-darker;
    padding: 2em 0 0;

    @include at-breakpoint($wide-mobile-break lt-ie9) {
        padding-bottom: 2em;
    }

    @include at-breakpoint($ipad-break lt-ie9) {
        background: url(../images/bg.jpg) no-repeat center top;
        background-attachment: fixed;
    }

    height: auto;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: $red;

    &:hover, &:active, &:focus {
        color: $red-darker;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'brioso-pro-display', serif;
    font-style: italic;
    color: $red;
    margin-bottom: 0;
}
h3 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: .75em;
    font-weight: 500;
}
h4 {
    font-size: 1.5em;
    line-height: 1;
    font-weight: 500;
}
h5 {
    font-size: 1.25em;
    line-height: 1;
    font-weight: 400;
}
h6 {
    font-size: 1.1em;
    line-height: 1;
    font-weight: 300;
}

p {
    margin: 0 0 1em;
    line-height: 1.4;
}

#Container {
    @include container($total-columns, $breakpoint lt-ie9);
    @include box-shadow(-10px -10px 15px rgba(0, 0, 0, 0.25));
    background: white;

    &>header {
        float: left;
        width: 100%;
        position: relative;

        h1 {
            position: relative;
            margin: 25px 0;
            z-index: 2;
            display: block;
            width: image-width('logo.jpg') / 2;
            height: image-height('logo.jpg') / 2;

            a {
                @include hide-text;
                background: url(../images/logo.jpg);
                background-size: 100%;
                width: image-width('logo.jpg') / 2;
                height: image-height('logo.jpg') / 2;
                display: block;

                @include at-breakpoint($breakpoint lt-ie9) {
                    width: image-width('logo.jpg');
                    height: image-height('logo.jpg');
                }
            }

            @include at-breakpoint($breakpoint lt-ie9) {
                margin: 0;
                top: 25px;
                width: image-width('logo.jpg');
                height: image-height('logo.jpg');
            }
        }

        .carousel {
            margin: 25px (0 - $grid-padding);

            @include at-breakpoint($breakpoint lt-ie9) {
                margin-top: 0;
                margin-bottom: 0;
                border-bottom: 41px solid $beige;

                &:after {
                    content: ' ';
                    background: url('../images/header-arch.png') no-repeat left top;
                    position: absolute;
                    top: -86px;
                    right: 0;
                    bottom: 0px;
                    left: 0;
                }
            }
        }
    }

    &>nav {
        @include at-breakpoint($breakpoint lt-ie9) {
            @include span-columns(1);
            margin-top: 2em;
        }

        font-family: 'brioso-pro-display', serif;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 20px;

        a {
            padding: .3em 0 .2em;
            display: block;
            border-top: 1px solid $red;

            @include at-breakpoint($breakpoint lt-ie9) {
                width: 80%;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 1.75em;
            line-height: 1;

            ul {
                display: none;
                margin-left: 1em;
                font-size: .7em;

                a {
                    border-top: none;
                }
            }
        }

        li.current, li.path {
            ul {
                display: block;
            }
        }

        li.current {
            &>a {
                font-weight: 500;
                color: $red-darker;
            }
        }

        li:first-child {
            a {
                border-top: 0;
            }
        }

        &>ul>li:first-child>a {
            padding-top: 0;
        }
    }

    &>footer {
        @include pie-clearfix;
        @include bleed($grid-padding);
        clear: both;
        background: $beige;
        color: $red;
        text-align: center;

        p {
            @include pie-clearfix;
            margin: 0;
            padding: 1.5em 0;
            line-height: 1.5;
        }

        .facebook-link {
            float: left;
            clear: both;
            width: 100%;
        }

        @include at-breakpoint($breakpoint lt-ie9) {
            .facebook-link {
                display: none;
            }
        }
    }
}

#InnerContainer {
    @include at-breakpoint($breakpoint lt-ie9) {
        @include span-columns(3 omega);
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

div[role="main"] {
    h3:first-child {
        @include at-breakpoint($breakpoint lt-ie9) {
            margin-top: 0;
        }
    }
}

#page-title {
    display: none;

    @include at-breakpoint($breakpoint lt-ie9) {
        @include transform(rotate(-7deg));
        display: block;
        font-family: 'brioso-pro-display', serif;
        font-weight: 300;
        font-style: italic;
        margin: 0;
        font-size: 2.25em;
        position: absolute;
        top: 55px;
        right: $grid-padding;
        width: 300px;
        text-align: right;
    }

    body.home & {
        display: none;
    }

    .lt-ie9 & {
        display: none;
    }
}

#f-logo {
    @include hide-text;
    background: url(../images/f-logo.png);
    background-size: 100%;
    width: image-width('f-logo.png') / 2;
    height: image-height('f-logo.png') / 2;
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 1;

    body.home & {
        display: block;
    }

    @include at-breakpoint($breakpoint lt-ie9) {
        width: image-width('f-logo.png');
        height: image-height('f-logo.png');
        top: 0px;

        body.home & {
            @include replace-text-with-dimensions('f-logo.png');
            display: block;
            position: absolute;
            top: 15px;
            right: 0;
            z-index: 1;
        }
    }
}

#facebook-link {
    display: none;

    @include at-breakpoint($breakpoint lt-ie9) {
        display: block;
        position: absolute;
        bottom: 11px;
        right: 0;
    }
}

form {
    label {
        @include pie-clearfix;
        display: block;
        margin: 10px 0;

        b {
            @include span-columns(1, 4);
            text-align: right;
        }

        input, textarea {
            @include span-columns(3 omega, 4);
        }
    }
}
