@import 'normalize';
@import 'carousel';
@import 'susy';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3';
@import 'compass/typography/text/replacement';

$total-columns: 2;
$column-width: 215px;
$gutter-width: 20px;
$grid-padding: 20px;
$breakpoint: 4;

$red: #d31f29;
$red-darker: darken($red, 15%);
$beige: #f4e8b6;

* {
    @include box-sizing('border-box');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html body {
    background: url(../images/bg.jpg) no-repeat center top;
    background-attachment: fixed;
    height: auto;
    min-height: 100%;
    padding: 2em 0;
}

a {
    text-decoration: none;
    color: $red;

    &:hover, &:active, &:focus {
        color: $red-darker;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'brioso-pro-display', serif;
    font-style: italic;
    color: $red;
    margin-bottom: 0;
}
h3 {
    font-size: 2em;
    line-height: 1;
    margin-bottom: .75em;
    font-weight: 500;
}
h4 {
    font-size: 1.5em;
    line-height: 1;
    font-weight: 500;
}
h5 {
    font-size: 1.25em;
    line-height: 1;
    font-weight: 400;
}
h6 {
    font-size: 1.1em;
    line-height: 1;
    font-weight: 300;
}

p {
    margin: 0 0 1em;
    line-height: 1.4;
}

#Container {
    @include container($total-columns, $breakpoint lt-ie9);
    @include box-shadow(-10px -10px 15px rgba(0, 0, 0, 0.25));
    background: white;

    &>header {
        float: left;
        width: 100%;
        position: relative;

        h1 {
            position: relative;
            top: 10px;
            margin: 0;
            z-index: 2;
            display: inline-block;

            a {
                @include replace-text-with-dimensions('logo.jpg');
                display: inline-block;
            }

            @include at-breakpoint($breakpoint lt-ie9) {
                margin-bottom: 0;
            }
        }

        .carousel {
            margin: 25px (0 - $grid-padding);

            @include at-breakpoint($breakpoint lt-ie9) {
                margin: 70px (0 - $grid-padding) (-111px + 41px);
                top: -111px;

                &:after {
                    content: ' ';
                    background: url('../images/header-arch.png') no-repeat left top;
                    position: absolute;
                    top: -70px;
                    right: 0;
                    bottom: -41px;
                    left: 0;
                    border-bottom: 41px solid $beige;
                }
            }
        }
    }

    &>nav {
        @include at-breakpoint($breakpoint lt-ie9) {
            @include span-columns(1);
            margin-top: 2em;
        }

        font-family: 'brioso-pro-display', serif;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 20px;

        a {
            padding: .3em 0 .2em;
            display: block;
            border-top: 1px solid $red;

            @include at-breakpoint($breakpoint lt-ie9) {
                width: 80%;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 1.75em;
            line-height: 1;

            ul {
                display: none;
                margin-left: 1em;
                font-size: .7em;

                a {
                    border-top: none;
                }
            }
        }

        li.active {
            ul {
                display: block;
            }

            &>a {
                font-weight: 500;
                color: $red-darker;
            }
        }

        li:first-child {
            a {
                border-top: 0;
            }
        }

        &>ul>li:first-child>a {
            padding-top: 0;
        }
    }

    &>footer {
        @include pie-clearfix;
        @include bleed($grid-padding);
        clear: both;
        background: $beige;
        color: $red;
        text-align: center;

        p {
            margin: 0;
            padding: 1.5em 0;
            line-height: 1.5;
        }
    }
}

#InnerContainer {
    @include at-breakpoint($breakpoint lt-ie9) {
        @include span-columns(3 omega);
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

div[role="main"] {
    h3:first-child {
        @include at-breakpoint($breakpoint lt-ie9) {
            margin-top: 0;
        }
    }
}

#page-title {
    display: none;

    @include at-breakpoint($breakpoint lt-ie9) {
        @include transform(rotate(-7deg));
        display: block;
        font-family: 'brioso-pro-display', serif;
        font-weight: 300;
        font-style: italic;
        margin: 0;
        font-size: 2.25em;
        position: absolute;
        top: 55px;
        right: $grid-padding;
        width: 300px;
        text-align: right;
    }

    body.home & {
        display: none;
    }
}

#f-logo {
    display: none;

    @include at-breakpoint($breakpoint lt-ie9) {
        body.home & {
            @include replace-text-with-dimensions('f-logo.png');
            display: block;
            position: absolute;
            top: 11px;
            right: 0;
            z-index: 1;
        }
    }
}

form {
    label {
        @include pie-clearfix;
        display: block;
        margin: 10px 0;

        b {
            @include span-columns(1, 4);
            text-align: right;
        }

        input, textarea {
            @include span-columns(3 omega, 4);
        }
    }
}
